extend ../layout
block content
  .index
    #nav.section
      botton.btn.btn-default#climb-index 爬取豆瓣首页
      botton.btn.btn-default#climb-book 爬取豆瓣读书首页
      botton.btn.btn-default 待添加...
    ul#log.section

  script(src='/js/index.js')