// book首页的css



a
  //  white-space:nowrap 
  // text-overflow:ellipsis 
  // -o-text-overflow:ellipsis 
  // overflow:hidden

.row-2 ul li
  width 275px
  min-height 100px
  display inline-block
  margin-bottom 30px
  margin-right 20px
  vertical-align top

.row-5 ul
  width ($bd_width=605px)
  display inline-block

.row-5 ul li
  display inline-block
  overflow hidden
  margin 0 15px 15px 0
  width 106px


.row-5 ul li .cover img
  width 106px
  height 158px

.row-5 ul li .intervenor-info
  background #f7f3db
  position relative
  height 20px

.row-5 ul li .intervenor-info img
  width 16px
  height 16px
  margin 2px
  position relative

.row-5 ul li .intervenor-info span
  color gray
  position relative
  margin-left 10px
  top -5px

.row-5 ul li .title, .row-5 ul li .author
  position relative
  line-height 20px
  white-space nowrap 
  text-overflow ellipsis
  -o-text-overflow ellipsis 
  overflow hidden

.hd
  border-bottom 1px solid #ddd
  margin-bottom 16px
  padding-bottom 6px
  font-size 18px

.hd a
  position relative
  margin-left 15px
  font-size 12px