.wapper
  width 950px
  margin 0 auto
  position relative
  height 100%

.index-w
  width 950px

.index-side-w
  width 270px

.size12
  font-size 12px

.size14
  font-size 14px

.size13
  font-size 13px

.size15
  font-size 15px

.size25
  font-size 25px

.section
  margin-bottom 50px
.star1
  width 75px
  height 15px
  background-image url('https://img3.doubanio.com/f/shire/680a4bc4c384199245b080c7104da5be8ed717d3/pics/rating_icons/ic_rating_m.png')
  background-position 0 -30px
  
  
.line1
  white-space nowrap 
  text-overflow ellipsis 
  -o-text-overflow ellipsis 
  overflow hidden
  
.line2
  overflow hidden
  text-overflow ellipsis
  display -webkit-box
  -webkit-line-clamp 2
  -webkit-box-orient vertical
.clearfix
  clear both
  width 100%
a
  text-decoration none
  color #37a
  word-break break-all
  letter-spacing 0.05px
  font-size 12px

a:hover
  color white
  background-color #37a

a:visited
  color #669
a:visited:hover
  color white

.cover a:hover, .no-bg a:hover 
  background-color inherit

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video
  margin 0
  padding 0
  border 0
  font-size 100%
  font inherit
  vertical-align baseline

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section
  display block



ol, ul
  list-style none

blockquote, q
  quotes none

blockquote:before, blockquote:after,

q:before, q:after
  content ''
  content none

table
  border-collapse collapse
  border-spacing 0

input:focus
  outline none

a, img
  cursor pointer
